<!DOCTYPE html>
<html>
  <head>
    <title>
      <%=
      if yarn.subject.empty?
	  "/#{board.route}/ - #{board.name}"
      else
	  "/#{board.route}/ - #{board.name} | #{yarn.subject.truncate(20)}"
      end
      %>
    </title>
  </head>
  <body>
    <h1><%= yarn.op.to_json %></h1>
    <hr>
    <% for post in replies %>
      <h2><%= post.to_json %></h2>
    <% end %>
  </body>
</html>
