main#thread
  #thread-bar
    a#return href="/#{board.route}/"
      ' ❬❬
    - if yarn.subject
      span#subject = yarn.subject
    - if yarn.locked
      span#locked title="Thread locked, you may not reply."
        | 🔒
  .post.op
    .info
      span.name => yarn.op.name
      span.time => yarn.op.time.strftime('%Y/%m/%d %H:%M')
      a.num href="/#{board.route}/thread/#{yarn.number}" &#8470;
      a.num.postnum =< yarn.number

    hr

    - if yarn.op.file
      figure: a href="/images/#{board.route}/#{yarn.op.file.name}" target='_blank'
        img[ src="/thumbs/#{board.route}/#{yarn.op.file.name}" title=yarn.op.file.name ]

    .body
      p = yarn.op.body

  - if replies
    - replies.each do |reply|
      .post.reply id="p#{reply.number}"
        - if reply.file
          figure: a href="/images/#{board.route}/#{reply.file.name}" target='_blank'
            img[ src="/thumbs/#{board.route}/#{reply.file.number}.jpg" title=reply.file.name ]

        .info
          span.name => reply.name
          span.time => reply.time.strftime('%Y/%m/%d %H:%M')
          a.num href="/#{board.route}/thread/#{yarn.number}#p#{reply.number}"
            | &#8470;
          a.num.postnum =< reply.number

        hr: .body: p = reply.body

hr
== slim :postform, locals: { page: "/#{board.route}/thread/#{yarn.number}", yarn: true }

hr
#thread-controls
  ' [
  a> href="/#{board.route}/" Back
  ' ]
